*.log
.htaccess
sitemap.xml
sitemap.xml.gz
wp-config.php
wp-config-backup-before-multisite.php
wp-content/advanced-cache.php
wp-content/backup-db/
wp-content/backups/
wp-content/blogs.dir/
wp-content/cache/
wp-content/upgrade/
wp-content/uploads/
wp-content/wp-cache-config.php
wp-content/plugins/hello.php
nbproject
/readme.html
/license.txt
wp-content/themes/zerif-lite/
wp-content/themes/skt-white/
wp-content/themes/parallax/
wp-content/themes/Parallax-One/composer/vendor/
dev/
php.ini
*.sql
live2loc_settings.py
.idea
__pycache__
