.cashier-above label {
	text-align: left;
}

.cashier-submit {
	padding-top: 20px;
}

.price {
	width: 5em;
	line-height: 26px;
	position: relative;
	top: 1px;
}

.price-button {
	line-height: 18px;
}

.smallpadding {
	padding-bottom: 2px;
}

.price-type {
	line-height: 35px;
}

.cashier-done {
	padding-top: 20px;
	padding-bottom: 10px;
}

.medium {
	font-size: 1.2em;
}

.big {
	font-size: 2em;
}

.bold {
	font-weight: bold;
}