.cashier-above label {
	text-align: left;
}

.cashier-submit {
	width: 100%;
	padding-top: 20px;
}

.price {
	width: 5em;
	line-height: 26px;
	position: relative;
	top: 1px;
}

.price-button {
	line-height: 18px;
}

.smallpadding {
	padding-bottom: 2px;
}

.price-type {
	line-height: 15px;
	font-size: 0.90em;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 18px;
}

.cashier-count {
	padding-left: 5px;
	padding-right: 5px;
}

@media (max-width: 768px) {
	.cashier-count, .cashier-submit {
		text-align: center;
	}
}

.cashier-done {
	padding-top: 20px;
	padding-bottom: 10px;
}

.year-to-date {
	padding: 20px;
	margin: 20px auto;
	background-color: #4487d5;
	border-radius: 20px;
	color: white;
	font-size: 20px;
	font-weight: bold;
	width: 400px;
	text-align: center;
}

.medium {
	font-size: 1.2em;
}

.big {
	font-size: 2em;
}

.bold {
	font-weight: bold;
}

.report-heading {
	margin-top: 20px;
	margin-bottom: 10px;
}

#return-form {
	text-align: center;
}

.report-footer {
	padding-bottom: 50px;
	padding-top: 20px;
	text-align: center;
}

input.price {
	background-color: white;
	-webkit-transition-duration: 0.12s; /* Safari */
	transition-duration: 0.12s;
	transition: all 0.12s
}

button.price-button:active + span.wrapper > input.price {
	background: yellow;
}

span.wrapper:active > input.price {
	background: yellow;
}