<div>
    <div class="for-water-calendar" style="height: {{::calendar.calendarHeightPx}}px">

        <!--TIME LINES **********************************************************-->
        <hr class="time-line" 
            ng-repeat="timeLine in calendar.timeLines" 
            style="
                top: {{::timeLine.topPx}}px;
            "
        />


        <!--TIME LEGENDS ******************************************************* -->
        <div class="time-legend"
             ng-repeat="timeLegend in calendar.timeLegends" 
             style="
                top: {{::timeLegend.topPx}}px; 
                height: {{::timeLegend.heightPx}}px;
                font-size: {{smallView ? 14 : 18}}px;
                width: {{::timeLegend.widthPerc}}%;
             "
        >
            <span ng-show="!extraSmallView"> {{::timeLegend.text}} </span>
            <div ng-show="extraSmallView" style="margin-top: -9px;">
                {{::timeLegend.text.split(' - ')[0]}}<br/>
                - {{::timeLegend.text.split(' - ')[1]}}
            </div>
        </div>


        <!--DAY LEGENDS ******************************************************** -->
        <div class="day-legend" 
             ng-repeat="dayLegend in calendar.dayLegends" 
             style="
                top: {{::dayLegend.topPx}}px; 
                left: {{::dayLegend.leftPerc}}%; 
                width: {{::dayLegend.widthPerc}}%;
            "
        >
            {{smallView ? dayLegend.short : dayLegend.text}}
        </div>

        <!--DAY LINES ********************************************************** -->
        <div class="day-line" 
             ng-repeat="dayLine in calendar.dayLines" 
             style="
                top: {{::dayLine.topPx}}px; 
                left: {{::dayLine.leftPerc}}%; 
                height: {{::calendar.calendarHeightPx}}px;
            "
        >
        </div>

        <!--EVENTS ************************************************************* -->
        <div class="calendar-event"
             ng-repeat="calEvent in calendar.events track by $index"
             ng-mouseenter="eventHover(calendar.id, $index, true)"
             ng-mouseleave="eventHover(calendar.id, $index, false)"
             style="
                top: {{::calEvent.topPx}}px; 
                left: {{::calEvent.leftPerc}}%; 
                width: {{calendar.colWidthPerc}}%; 
                height: {{::calEvent.heightPx}}px;
                border-left: 4px solid {{::calEvent.color ? calEvent.color : 'black'}};
             "
        >
            <div id="{{::calendar.id}}-{{::$index}}-inner" class="inner-event-div" style="width: {{::100/calEvent.outOf}}%">
                <div style="width: {{::calEvent.outOf * 100}}%">
                    <div class="event-title" data-toggle="modal" data-target="#{{::calendar.id}}-{{::$index}}-modal">
                        {{::calEvent.title}}
                    </div>
                    <div class="event-desc" ng-if="calEvent.desc">{{::calEvent.desc}}</div>
                    <div class="event-time">
                        {{::calEvent.startDt | date : calEvent.dtFormat}} - <br>
                        {{::calEvent.endDt | date : calEvent.dtFormat}}
                    </div>
                    <div class="event-location" ng-if="calEvent.location">
                        <a href="{{::calEvent.locationLink}}" target="_blank">Where?</a>
                    </div>
                </div>
            </div>
        </div>

        <!--MODAL EVENTS ******************************************************* -->
        <div class="calendar-modal modal fade" 
             id="{{::calendar.id}}-{{::$index}}-modal"
             ng-repeat="calEvent in calendar.events"
             tabindex="-1" 
             role="dialog"
             aria-labelledby="myModalLabel"
        >
            <div class="modal-dialog" role="document">
                <div 
                    class="modal-content"
                    style="border: thick solid {{::calEvent.color ? calEvent.color : 'black'}};"
                >
                    <div class="modal-header">
                        <h4 
                            class="modal-title" 
                            id="myModalLabel"
                            style="color: {{::calEvent.color ? calEvent.color : 'black'}};"
                        >
                            {{::calEvent.title}}
                        </h4>
                        <a class="modal-calendar-link" href="{{::calEvent.url}}" target="_blank">in Google calendar</a>
                    </div>
                    <div class="modal-body">
                        <div class="modal-date-time">
                            <span class="modal-row-header">Starts</span>: 
                                {{::calEvent.startDt | date : 'h:mma, EEEE (d MMM yyyy)'}} <br>
                            <span class="modal-row-header">Ends</span>: 
                                {{::calEvent.endDt | date : 'h:mma, EEEE (d MMM yyyy)'}}
                        </div>
                        <div class="modal-location">
                            <span class="modal-row-header">Location</span>: 
                                <a href="{{::calEvent.locationLink}}" target="_blank" ng-show="calEvent.location">{{::calEvent.location}}</a>
                                <span ng-if="!calEvent.location">unspecified</span>
                        </div>
                        <hr ng-if="calEvent.desc"/>
                        <div class="modal-desc" ng-if="calEvent.desc">{{::calEvent.desc.trim()}}</div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="modal-close-button btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

        <!--LEGEND ************************************************************* -->
    </div>

    <div class="calendar-legend">
        *TFHR - <span class="legend-bold">T</span>ill your <span class="legend-bold">F</span>eet can <span class="legend-bold">H</span>andle the <span class="legend-bold">R</span>ythm<br>
        *ASGU - <span class="legend-bold">A</span>s <span class="legend-bold">S</span>oon as you can <span class="legend-bold">G</span>et <span class="legend-bold">U</span>p<br>
    </div>
</div>