<div>
    <div class="for-water-calendar" style="height: {{::calendar.calendarHeightPx}}px">

        <!--TIME LINES **********************************************************-->
        <calendar-time-line ng-repeat="timeLine in calendar.timeLines"></calendar-time-line>

        <!--TIME LEGENDS ******************************************************* -->
        <calendar-time-legend ng-repeat="timeLegend in calendar.timeLegends"></calendar-time-legend>

        <!--DAY LEGENDS ******************************************************** -->
        <calendar-day-legend ng-repeat="dayLegend in calendar.dayLegends"></calendar-day-legend>

        <!--DAY LINES ********************************************************** -->
        <calendar-day-line ng-repeat="dayLine in calendar.dayLines track by $index"></calendar-day-line>

        <!--EVENTS ************************************************************* -->
        <calendar-event ng-repeat="calEvent in calendar.events track by $index"></calendar-event>

        <!--MODAL EVENTS ******************************************************* -->
        <calendar-modal-event ng-repeat="calEvent in calendar.events track by $index"></calendar-modal-event>
    </div>

    <div style="display: none;" class="calendar-legend">
        *TFHR - <span class="legend-bold">T</span>ill your <span class="legend-bold">F</span>eet can <span class="legend-bold">H</span>andle the <span class="legend-bold">R</span>ythm<br>
        *ASGU - <span class="legend-bold">A</span>s <span class="legend-bold">S</span>oon as you can <span class="legend-bold">G</span>et <span class="legend-bold">U</span>p<br>
    </div>
</div>